@model Hurtownia.Models.ViewModels.ClientViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
    </tr>

    @{
        foreach (var client in Model.Clients)
        {
            Html.RenderPartial("ClientRow", client);
        }
    }

</table>
