@{
    ViewBag.Title = "O hurtowni";
}

<article>
    <p>Hurtownia internetowa oferuje ponad 14487 produktów. W naszej ofercie można znaleźć szeroką gamę produktów, poczynając od słodyczy i nabiału oraz przetworach poprzez napoje, przyprawy z całego świata a skończywszy na artykułach chemii gospodarczej, kosmetykach i produktach dla dzieci.

Jako dystrybutor artykułów spożywczych jesteśmy dostępni na rynku od ponad 20 lat.
Dzięki bezpośredniej współpracy z dystrybutorami i producentami, oferujemy oryginalne oraz najwyższej jakości produkty w konkurencyjnych cenach. Nowoczesne rozwiązania informatyczne oraz logistyczne umożliwiają nam szybką realizację zamówień.

Posiadamy wiele certyfikatów potwierdzających nasz profesjonalizm, min. HACCP
Zaopatrujemy zarówno klientów korporacyjnych jak i restaruacje czy placówki oświatowe.
Gwarantujemy bezpieczeństwo transakcji oraz przejrzyste procedury zakupów.</p>
</article>
