@{
    ViewBag.Title = "Kontakt";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Numery telefonów</h3>
    </header>
    <p>
        <span class="label">W godzinach 8:00 - 16:00</span>
        <span>425-555-100</span>
    </p>
    <p>
        <span class="label">Po godzinach:</span>
        <span>425-555-199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Biuro:</span>
        <span><a href="mailto:biuro@hurtownia.com">biuro@hurtownia.com</a></span>
    </p>
    <p>
        <span class="label">Dział zamówień:</span>
        <span><a href="mailto:zamowienia@hurtownia.com">zamowienia@hurtownia.com</a></span>
    </p>
    <p>
        <span class="label">Dział marketingu:</span>
        <span><a href="mailto:marketing@hurtownia.com">marketing@example.com</a></span>
    </p>
</section>