@using System.EnterpriseServices
@model Hurtownia.Models.Cart

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

@foreach (var pr in Model.Products)
{
    @pr.Product.Name;
   
}

@Html.ActionLink("Return to list", "List", "Product")
@Html.ActionLink("Checkout", "CheckOut", "Cart")